* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

h1,
h2 {
  margin-bottom: 30px;
}

.input-section {
  margin: 50px auto;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.input-section h2 {
  margin-bottom: 20px;
  color: #4CAF50;
}

.input-section form div {
  margin-bottom: 10px;
  text-align: left;
}

.input-section label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
}

.input-section input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.input-section button {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.input-section button:hover {
  background-color: #3e8e41;
}

.table-section {
  margin: 50px auto;
  max-width: 700px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.table-section h2 {
  margin-bottom: 30px;
  color: #4CAF50;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}
